<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="2", align="center", width="40%">
    <tr>
        {% for el in school_journal %}
         <div class="alert alert-warning" align="center">
            <h3>{{el.title}}</h3>
             {% for i in el.subject.all %}
             <th>{{i.title}}</th>
                        <td>{{el.date}}</td>
                        <td>{{el.date}}</td>
                        <td>{{el.date}}</td>
                        <td>{{el.date}}</td>
                {% for v in el.class_students.all %}
             <tr>
                        <td>{{v.firs_name}}</td>
                        <td>{{el.grade}}</td>
                        <td>{{el.grade}}</td>
                        <td>{{el.grade}}</td>
                        <td>{{el.grade}}</td>
            <tr>
                {% endfor %}

    </tr>
             {% endfor %}
        {% endfor %}
    <div/>
    </tr>
</table>
</body>
</html>